name: Deploy

'on':
  push:
    branches:
      - main
  # schedule:
    # run weekly on Sunday
    # - cron: "20 10 * * 0"
  # allow manual triggering of workflow
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0

      - name: Read .nvmrc
        id: node_version
        run: echo ::set-output name=NODE_VERSION::$(cat .nvmrc)

      - name: Set up node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903  # v6.0.0
        with:
          node-version: ${{ steps.node_version.outputs.NODE_VERSION }}

      - name: Cache dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830  # v4.3.0
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ steps.node_version.outputs.NODE_VERSION }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ steps.node_version.outputs.NODE_VERSION }}

      - run: npm ci
        name: Install

      - run: npm run build
        name: Build

      - name: Upload gatsby artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
        with:
          name: gatsby-build
          path: ./public

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
        with:
          python-version: 3.12

      - name: Install Python dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -r deployment/requirements.txt

      - name: Download gatsby artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53  # v6.0.0
        with:
          name: gatsby-build
          path: ./public

      - name: Install tutorials into site
        run: |
          python deployment/installtutorials.py --dest public/tutorials

      - name: List website content
        run: |
          tree public

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e  # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public

      - name: Upload site for indexing
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: site-for-indexing
          path: ./public

  index:
    # this job effectively tests the indexing before the next job that
    # clears it (so that the site doesn't end up empty if the indexing fails)
    runs-on: ubuntu-latest
    needs: deploy

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0

      - name: Download site for indexing
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: site-for-indexing
          path: ./public

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
        with:
          python-version: 3.12

      - name: Install Python dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -r deployment/requirements.txt

      - name: Pre-index tutorials
        id: preindex
        env:
          ALGOLIA_ID: ${{ secrets.ALGOLIA_ID }}
          ALGOLIA_KEY: ${{ secrets.ALGOLIA_KEY }}
          ALGOLIA_INDEX: ${{ secrets.ALGOLIA_INDEX }}
        run: |
          astropylibrarian index tutorial-site \
            public/tutorials \
            https://learn.astropy.org/tutorials

      - name: sleep
        run: sleep 5

      - name: Clear Algolia index
        id: clearindex
        if: steps.preindex.outcome == 'success'
        env:
          ALGOLIA_ID: ${{ secrets.ALGOLIA_ID }}
          ALGOLIA_KEY: ${{ secrets.ALGOLIA_KEY }}
          ALGOLIA_INDEX: ${{ secrets.ALGOLIA_INDEX }}
        run: |
          astropylibrarian clear-index \
            --algolia-id "$ALGOLIA_ID" \
            --algolia-key "$ALGOLIA_KEY" \
            --index "$ALGOLIA_INDEX"

      - name: sleep
        run: sleep 5

      - name: Index tutorials
        if: steps.clearindex.outcome == 'success'
        env:
          ALGOLIA_ID: ${{ secrets.ALGOLIA_ID }}
          ALGOLIA_KEY: ${{ secrets.ALGOLIA_KEY }}
          ALGOLIA_INDEX: ${{ secrets.ALGOLIA_INDEX }}
        run: |
          astropylibrarian index tutorial-site \
            public/tutorials \
            https://learn.astropy.org/tutorials

      - name: Index guides
        # continue on error because guides can be externally hosted; avoid a change to
        # them from preventing the tutorials updating on the site
        continue-on-error: true
        env:
          ALGOLIA_ID: ${{ secrets.ALGOLIA_ID }}
          ALGOLIA_KEY: ${{ secrets.ALGOLIA_KEY }}
          ALGOLIA_INDEX: ${{ secrets.ALGOLIA_INDEX }}
        run: |
          astropylibrarian index guide \
            http://www.astropy.org/ccd-reduction-and-photometry-guide/ \
            --algolia-id "$ALGOLIA_ID" \
            --algolia-key "$ALGOLIA_KEY" \
            --index "$ALGOLIA_INDEX" \
            --priority 2
